div.base {
	overflow: hidden;

	* {
		max-width: inherit;
		max-height: inherit;
	}

	&>div.container {
		display: flex;

		&>div.slide {
			position: relative;
			flex: 0 0 auto;
			padding: 0px 10px;
			display: flex;
			justify-content: center;

			&>* {
				width: auto;
				height: auto;
			}
		}
	}
}