$mobile-breakpoint: 768px;

$white: #FFFFFF;
$black: #000000;
$ivory: #FFFFF0;
$yellow: #ffE791;
$orange: #ffA94D;
$magenta: #1E0218;
$pink: #450E23;

$font-serif: var(--font-serif);
$font-sans-serif: var(--font-sans-serif);
$font-monospace: var(--font-monospace);
$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$text-color: var(--text-color);
$highlight-color: var(--highlight-color);
$italic-color: var(--italic-color);
$bold-color: var(--bold-color);