@import url(https://fonts.googleapis.com/css?family=Ubuntu);

$font-sans-serif: "Ubuntu", sans-serif;

$mobile-breakpoint: 800px;

$white: #ffffff;
$black: #000000;
$ivory: #fffff0;

// Unnamed color scheme by Xanycki
$yellow: #ffe791;
$orange: #ffa94d;
$magenta: #1e0218;
$pink: #450e23;
