div.embla {
  overflow: hidden;

  * {
    max-height: inherit;
    max-height: inherit;
  }

  & > div.embla__container {
    display: flex;

    & > .embla__slide {
      position: relative;
      flex: 0 0 auto;
      padding: 0px 10px;
    }
  }
}
